# Terraform directories and files
**/.terraform/*
**/terraform-provider*/*
*.tfstate
*.tfstate.*
*.terraform*
crash.log

# Files that may contain secrets
terraform.tfvars
*kube_config.yml*
*-ssh_private_key.pem*
*-ssh_public_key.pem*
*config-yaml*
*ca.key*
*ca.crt*
*tls.key*
*cert.csr*
*ca.srl*
*tls.crt*

# Temporary files
**/*.swp
.DS_Store

# Allow
!tf-modules/google-cloud/gke/template-kube_config.yml
!tf-modules/aws/eks/template-kube_config.yml
!tf-projects/neuvector-rke2/harvester-equinix/rke2-config-yaml.tpl
