prefix =
# vpc_ip_cidr_range =
# subnet_ip_cidr_range =
# vpc =
# subnet =
# instance_count =
## Option 1 - AWS CLI
# aws_access_key    =
# aws_secret_key    =
# aws_session_token =
aws_region  =
neuvector_password =
