prefix =
# vpc_ip_cidr_range =
# subnet_ip_cidr_range =
# vpc =
# subnet =
allowed_ip_cidr_range =
# instance_count =
# instance_disk_size =
# instance_type =
# aws_access_key    =
# aws_secret_key    =
# aws_session_token =
aws_region  =
neuvector_password =
