prefix =
project_name =
metro = 
# create_ssh_key_pair =
# ssh_private_key_path =
# ssh_public_key_path = 
# ipxe_script =
# vlan_count =
# instance_count = 
# plan =
# billing_cycle = 
# spot_instance = 
# max_bid_price = 
# harvester_version = 
# rancher_api_url =
# rancher_access_key = 
# rancher_secret_key = 
# rancher_insecure = 
# kube_config_path =
# kube_config_filename =
# create_os_image =
# os_image_name =
# os_image =
# os_image_url =
vm_count =
vm_namespace =
# description =
ssh_username =
ssh_password = 
# cpu = 
# memory =
# vm_disk_size =
# vm_data_disk_size =
# startup_script = 
# rke2_version =
# rke2_config =
