prefix =
project_name =
metro = 
# create_ssh_key_pair =
# ssh_private_key_path =
# ssh_public_key_path = 
# ipxe_script =
# vlan_count =
# instance_count = 
# plan =
# billing_cycle = 
# spot_instance = 
# max_bid_price = 
# harvester_version = 
# rancher_api_url =
# rancher_access_key = 
# rancher_secret_key = 
# rancher_insecure = 
